<h3>Listagem de Pessoas</h3>

<div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>E-Mail</th>
        <th>CPF</th>
        <th>Idade</th>
        <th>Qtd. Telefones</th>
        <th colspan="2">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of persons">
        <td>{{ person.id }}</td>
        <td>{{ person.name }}</td>
        <td>{{ person.email }}</td>
        <td>{{ person.cpf }}</td>
        <td>{{ getAge( person ) }}</td>
        <td>{{ person.phones.length }}</td>
        <td><a [routerLink]="'/person/' + person.id + '/update'"> Editar</a> </td>
        <td>Deletar</td>
      </tr>
    </tbody>
  </table>
</div>